.pass {
  padding: 118px 0 80px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 99px 0 60px;
  }

  @include vp-767 {
    padding: 69px 0 35px;
  }

  &__container {
    position: relative;
  }

  &__bg {
    position: absolute;
    right: 0;
    bottom: -269px;

    @include vp-1199 {
      bottom: -185px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__bg img {
    width: 287px;

    @include vp-1199 {
      width: 347px;
    }
  }

  &__item-wrapper {
    min-height: 103px;

    @include vp-767 {
      min-height: 86px;
    }
  }

  &__title {
    padding: 0 20px;
    margin: 0 auto 25px;
    width: fit-content;

    @include vp-1199 {
      margin: 0 auto 20px;
    }

    @include vp-767 {
      margin: 0 auto 12px;
    }
  }

  &__item {
    margin-bottom: 40px;
    padding: 63px 40px 68px;
    width: 35%;
    background-color: $color-default-white;
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    text-align: center;
    z-index: 1;

    @include vp-1199 {
      margin: 0 auto 40px;
      width: 442px;
    }

    @include vp-767 {
      margin: 0 auto 35px;
      padding: 51px 40px 55px;
      width: 100%;
      max-width: 442px;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover {
        padding: 56px 33px 61px;
        border: 7px solid $color-transparent;
        border-image: linear-gradient(111.72deg, #d10a42 17.6%, #00359f 95.31%);
        border-image-slice: 1;

        .pass__link {
          background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
          color: $color-default-white;
          border: none;
        }
      }
    }
  }

  &__label {
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    margin: 0 0 10px;

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__info {
    color: $color-chambray;
    margin: 0 0 20px;
  }

  &__price {
    padding-top: 25px;
    margin-bottom: 35px;
    position: relative;
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    color: $color-egyptian-blue;

    @include vp-767 {
      margin: 0 0 31px 3px;
      font-size: 48px;
      line-height: 72px;
    }
  }

  &__icon {
    width: 30px;
    height: 42px;

    @include vp-767 {
      width: 24px;
      height: 33px;
    }
  }

  &__price-shadow {
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba($color-whisper, 0.48);
    font-size: 100px;
    line-height: 150px;
    z-index: -1;

    @include vp-767 {
      font-size: 80px;
      line-height: 120px;
    }
  }

  &__link {
    margin: 0 auto;
    width: 206px;
    min-height: 64px;
    border: 2px solid $color-sapphire;
    color: $color-sapphire;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: $color-transparent;
    transition: background $trans-default;
  }
}
