.pass {
  padding: 118px 0 80px;

  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 99px 0 60px;
  }

  @include vp-767 {
    padding: 69px 0 35px;
  }

  &__container {
    position: relative;
  }

  &__bg {
    position: absolute;
    right: -183px;
    bottom: -229px;

    @include vp-1199 {
      right: 0;
      bottom: -185px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__bg img {
    width: 470px;

    @include vp-1199 {
      width: 347px;
    }
  }

  &__item-wrapper {
    min-height: 103px;

    @include vp-767 {
      min-height: 86px;
    }
  }

  &__title {
    width: fit-content;
    margin: 0 auto 25px;
    padding: 0 20px;

    @include vp-1199 {
      margin: 0 auto 20px;
    }

    @include vp-767 {
      margin: 0 auto 12px;
    }
  }

  &__item {
    position: relative;
    z-index: 1;

    display: grid;
    width: 31%;
    margin-bottom: 40px;
    padding: 63px 40px 68px;

    text-align: center;

    background-color: $color-default-white;

    grid-template-rows: 1fr min-content min-content;

    @include vp-1199 {
      width: 442px;
      margin: 0 auto 40px;
    }

    @include vp-767 {
      width: 100%;
      max-width: 442px;
      margin: 0 auto 35px;
      padding: 51px 40px 55px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 100%;

      background-color: $color-default-white;
      border: 7px solid $color-transparent;
      border-image: linear-gradient(150.72deg, $color-crimson 17.6%, $color-smalt 95.31%);
      border-image-slice: 1;
      opacity: 0;

      transition: opacity $trans-default;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover {
        &::before {
          opacity: 1;
        }

        .pass__link {
          color: $color-default-white;

          border: none;

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  &__label {
    margin: 0 0 10px;

    font-weight: 700;
    font-size: 26px;
    line-height: 29px;

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__info {
    margin: 0 0 20px;

    color: $color-chambray;
  }

  &__price {
    position: relative;

    margin-bottom: 35px;
    padding-top: 25px;

    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $color-egyptian-blue;

    @include vp-767 {
      margin: 0 0 31px 2px;

      font-size: 48px;
      line-height: 72px;
    }
  }

  &__icon {
    width: 30px;
    height: 42px;

    @include vp-767 {
      width: 24px;
      height: 33px;
    }
  }

  &__price-shadow {
    position: absolute;
    bottom: -6px;
    left: 50%;
    z-index: -1;

    font-size: 100px;
    line-height: 150px;
    color: rgba($color-whisper, 0.48);

    transform: translateX(-50%);

    @include vp-767 {
      font-size: 80px;
      line-height: 120px;
    }
  }

  &__link {
    position: relative;

    justify-content: center;
    align-items: center;
    width: 206px;
    min-height: 64px;
    margin: 0 auto;

    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: $color-sapphire;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    background: $color-transparent;
    border: 2px solid $color-sapphire;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 100%;

      background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt-mod 95.31%);
      opacity: 0;

      transition: opacity $trans-default;
    }
  }
}
