.tabs {
  &__controls {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 36px;

    column-gap: 7px;

    @include vp-1199 {
      margin: 0 auto 42px;

      column-gap: 15px;
    }

    @include vp-767 {
      width: 100%;
      margin: 0 auto 32px;

      column-gap: 46px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 20px;

      width: calc(100% - 40px);
      height: 2px;

      background-color: rgba($color-grey, 0.2);

      @include vp-767 {
        left: 0;

        width: 100%;
      }
    }
  }

  &__control {
    position: relative;

    margin: 0;
    padding-bottom: 15px;

    font-size: 20px;
    line-height: 30px;
    color: rgba($color-sapphire, 0.5);

    @include vp-1199 {
      font-size: 18px;
      line-height: 27px;
    }

    @include vp-767 {
      padding: 10px 0 16px;

      font-size: 16px;
      line-height: 24px;
    }

    &.is-active {
      color: rgba($color-sapphire, 1);

      &::before {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 20px;

        width: calc(100% - 40px);
        height: 2px;

        background-color: $color-crimson;

        @include vp-767 {
          left: 0;

          width: 113%;
        }
      }
    }
  }

  &__element {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
    column-gap: 3.5%;

    @include vp-1199 {
      flex-direction: column;
    }
  }
}
